@page "/counter"
@using EComm.Entities
@rendermode InteractiveAuto
@inject HttpClient Client

<PageTitle>Counter</PageTitle>

<button class="btn btn-primary" @onclick="GetProducts">Click me</button>


<br />
<br />

@if (products is not null)
{
    <ul>
        @foreach (var p in products)
        {
            <li>@p.ProductName</li>
        }
    </ul>
}

@code {
    private IEnumerable<Product>? products;

    private async Task GetProducts()
    {
        products = await Client.GetFromJsonAsync<Product[]>("products");
    }
}
